<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @name2 %></h1>
    <p>
      I'm <%= @name1 %>,
      I want to invite you go to my event.
      Please see: <%= link_to "My Profile", user_url(@user) %>
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>
