<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @name %></h1>
    <p>
      Welcome to my app
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>
